!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookshop
    %script{src: "https://js.pay.jp/", type: "text/javascript"}

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header 
      .header__bar
        %h2.header__bar__logo 
          = link_to root_path, class:"logo" do
            %h2 bookshop

    = yield
